.btn-djID{
    background-color: #508d69;
    color:white;
}

.btn-djID:hover{
    background-color: #45795a;
    color:white;
}

.btn-djID2{
    background-color: #9ade7b;
    color:white;
}

.btn-djID2:hover{
    background-color: #87c46b;
    color:white;
}