<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DeJourney ID</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>

  <script>

    $(document).ready(function () {
      $('#navcontent').addClass('active');

      ClassicEditor
      .create( document.querySelector( '#deskripsi' ) )
      .then((newEditor) => {
      editor = newEditor;

      console.log('Editor was initialized successfully:', newEditor);
      })
      .catch( error => {
          console.error( error );
      } );

      auth_login_detail();
    })
</script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <h1 style="color: greenyellow;">DeJourney ID</h1><span style="color: aliceblue;">.</span>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header --> 

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{{ url_for('static', filename='img/content-bg.jpg') }}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Content Details</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Content Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <div class="modal fade" id="shareExperienceModal" tabindex="-1" role="dialog" aria-labelledby="shareExperienceModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shareExperienceModalLabel">Edit Cerita Perjalanan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label class="form-label">Judul Postingan</label>
                <input type="text" id="judul" name="name" class="form-control" placeholder="Masukan judul" 
                value ="{{post_info.judul}}"
                required>
                <input type="hidden" id="postid" value ="{{post_info.postid}}">
              </div>
              <div class="form-group">
                <label class="form-label">Lokasi Wisata</label>
                <br><input type="text" id="lokasi" name="title" class="form-control" placeholder="Masukan lokasi wisata" 
                value="{{post_info.lokasi}}"
                required>
              </div>
              <div class="form-group">
                <label class="form-label">Deskripsi Postingan</label>
                <br><div class="form-control" id="deskripsi" placeholder="Masukan deskripsi" required>
                  {{post_info.deskripsi | safe}}
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Upload Gambar Utama</label>
                <br><input type="file" class="form-control" id="image" name="image" required>
              </div><br><br>
              <div class="text-center">
                <button type="button" onclick="update()" class="btn btn-primary">Update</button>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-danger">Batal</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <img src="{{ url_for('static', filename=post_info.image) }}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{post_info.judul}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center">
                      <img src="/static/{{post_info.profile_pic_real}}" class="rounded-circle" alt="..." style="width:32px">
                   <a href="blog-details.html">{{post_info.username}}</a>
                  <div class="ms-3" id="btn-post-control">
                    <button
                    class="btn btn-md btn-block btn-djID"
                    data-bs-toggle="modal" data-bs-target="#shareExperienceModal"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-md btn-block btn-djID2"
                    onclick="delete_content('{{post_info.postid}}')"
                  >
                    Hapus
                  </button>
                  </div>
                  </li>
                </ul>
                <hr>
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i>{{datepost}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-geo-alt"></i>{{post_info.lokasi}}</li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                {{post_info.deskripsi | safe}}
              </div><!-- End post content -->

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Kelompok 2</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar-control.js') }}"></script>
  <script src="{{ url_for('static', filename='js/content-control.js') }}"></script>


</body>

</html>
